body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h2 {
    margin-bottom: 20px;
}

button {
    width: 100%;
}

#registerMessage, #loginMessage {
    font-weight: bold;
}
